{%extends 'shop/index.html'%}
{% load static %}
{%block body%}
<center><p>
    <b><h1><caption>College of Agricultural Information Technology</caption></h1></b>
    <br>
    <img src="{% static 'shop/ait_college_image.jpg' %}"></img>
    <br><h4>
College of Agricultural Information Technology was established in the year 2009 under the aegis of Anand Agricultural University. The CAIT offers 4-yrs B.Tech. 
(AIT) and 2-yrs M.Tech.(AIT) programs. The postgraduate master degree program is not offered anywhere in India except by Anand Agricultural University. The college aims to cater to the upcoming demands of the Agrarian Economy by generation of a young workforce skilled with knowhow of future ready Information and Communication Technology and imparting the same in Agricultural sector. The college has trained teaching faculty with a balanced blend of well-experienced seniors and energetic youth focused towards Teaching and Research.
The College building is surrounded by lush green natural environment with enough resources such as well-ventilated lecture halls with audio visual facility, computer labs, scientific equipments, Wi-Fi Internet access, library, NCC/NSS, sports, project and placement cell etc. The curriculum of B.Tech.(AIT) is a blend of Agricultural Science and Information and Communication Technology (ICT) to harvest the potential of both the sectors. And we are looking forward to introduce innovative practices of automation and information mitigation by means of ICT in the sparsely charted agriculture and allied sectors to bridge the gap between the skills of the technocrat and the farmer.
</p></center></h4>
{%endblock%}
