{% extends 'shop/index.html' %} 
{% load render_table from django_tables2 %}
 {% render_table table %}
  {% block body %} 
 {% load static %}
 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5 Transitional//EN" "http://www.w3.org/TR/html5/loose.dtd">  
    <html>  
        <head>
                <script>
                        function dayDiff()
                        {
                             var start = document.getElementById("sdate").value;
                             var end= document.getElementById("edate").value;
                             var oneDay = 24*60*60*1000; 
                             var firstDate = new Date(start);
                             var secondDate = new Date(end);    
                             var diffDays =(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
                             
                            document.getElementById("leave").value =diffDays ;
                         }
                        </script>
        </head>
<div class="message" style="margin-top: 160px">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %} {% endif %}</div>

<div class="table-responsive" style="font-size: 15px;">
      
    <!--Farmer Upload Products -->
<form method="POST" action=" ">
        {% csrf_token %}   
        <center>
        <div style="width:70%">
        <div class="form-group">
                <label for="sdate">Start Date</label>
            <input type="datetime-local" name="sdate" id="sdate"  class="form-control">
            <label for="edate">End date</label>
            <input type="datetime-local" name="edate" id="edate" onchange="dayDiff()"  class="form-control">
        </div>
    
    
    <div class="form-group">
        <label for="city">City</label>
        <div class="form-label-group">
            <select class="form-control" id="city" name="city" placeholder="District" required>
                <option>Ahmedabad</option>
                <option>Anand</option>
                <option>Aravalli</option>
                <option>Amreli</option>
                <option>Bharuch</option>
                <option>Botad</option>
                <option>Bhavnagar</option>
                <option>Banaskantha</option>
                <option>Chhota Udaipur</option>
                <option>Dang</option>
                <option>Devbhoomi Dwarka</option>
                <option>Dahod</option>
                <option>Gandhinagar</option>
                <option>Gir Somnath</option>
                <option>Jamnagar</option>
                <option>Junagadh</option>
                <option>Kachchh</option>
                <option>Kheda</option>
                <option>Morbi</option>
                <option>Mehsana</option>
                <option>Mahisagar</option>
                <option>Mahisagar</option>
                <option>Navsari</option>
                <option>Panchmahal</option>
                <option>Patan</option>
                <option>Porbandar</option>
                <option>Rajkot</option>
                <option>Surat</option>
                <option>Sabarkantha</option>
                <option>Surendranagar</option>
                <option>Tapi</option>
                <option>Valsad</option>
                <option>Vadodara</option>                                           
              </select> </div>
       
    </div>
    <input type="text" name="leave" id="leave" name="leave">
    <button type="submit" >submit</button>
</div>
</form>

</html>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
         $("#edate").on('input', function () {
             var txtbalance = $('#sdate').val();
             var txtdays = $('#edate').val();
    
             if (txtbalance === "" || txtdays === "") return false;
             
             if (txtbalance>txtdays) {
                 alert("u cant apply");
                 document.getElementById('btn').disabled=true
             }
             else
             {
              document.getElementById('btn').disabled=false
             }
         });
     });
    </script>
    <table class="table table-hover">
        <center>
            <h3 style="color:rosybrown">vehicle list</h3>
        </center>
        <tr>
            <th>o_name</th>
            <th>email</th>
            <th>v_num</th>
            <th>category</th>
            <th> subcategory</th>
            <th>city</th>
            <th>image</th>           
        </tr>
        {% for i in d %} 
        <tr class="danger">
            <td>{{i.o_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.v_num}}</td>
            <td>{{i.category}}</td>
            <td>{{i.city}}</td>
            <td>{{i.subcategory}}</td>
     
            <td><img src='/media/{{i.image}}' class="card-img-top" alt="..."></td>
            <td><a href="vehicle/{{i.vid}}"><button id="qv{{i.vid}}" class="btn btn-primary cart" >QuickView</button></a></td>
        </tr>
   {% endfor %}
    </table>
    <script>
        function DateCheck()
        {
          var StartDate= document.getElementById('sdate').value;
          var EndDate= document.getElementById('edate').value;
          var eDate = new Date(EndDate);
          var sDate = new Date(StartDate);
        
          if(StartDate!= '' && StartDate!= '' && sDate> eDate)
            {
            alert("Please ensure that the End Date is greater than or equal to the Start Date.");
            return false;
            } 
        }
        if(DateCheck()==false)
        {
          document.getElementById('btn').disabled=true
        }
        
      </script>
     
      <script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
      </script>
      <script language="javascript" type="text/javascript">
      $(document).ready(function () {
           $("#id_enddate").on('input', function () {
               var txtbalance = $('#sdate').val();
               var txtdays = $('#edate').val();
      
               if (txtbalance === "" || txtdays === "") return false;
      
               if (txtbalance>txtdays) {
                   alert("u cant apply");
                   document.getElementById('btn').disabled=true
               }
               else
               {
                document.getElementById('btn').disabled=false
               }
           });
       });
      </script>
    </center>
    {%endblock%}