{% extends 'shop/index.html' %}
{% block title%} {{v.o_name}} - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{v.image}}" width="233px" height="385px">
    </div>
       

    </div>
    <div class="col-md-8">
        <table>
            <tr >
                <td style="padding-left:20px"><b>Owner name</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.o_name}}</td>
            </tr>
            <br>
            <tr>
                <td style="padding-left:20px"><b>Number</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.v_num}}</td>
            </tr>
            <br>
            <tr>
                <td style="padding-left:20px"><b>Category</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.category}}</td>
            </tr>
            <br>
            <tr>
                <td style="padding-left:20px"><b>subcategory</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.subcategory}}</td>
            </tr>
            <tr>
                    <td style="padding-left:20px"><b>price</b></td>
                    <td style="padding-left:20px"><b>:</b></td>
                    <td style="padding-left:20px">{{r}}.RS</td>
                    
             </tr>
             <tr>                    
                    <td style="padding-left:20px">Excess Rs{{v.ex}}/km</td>
             </tr>
            <br>
        </table>

        <br>
        <br>
        <div class="row">
         <a href="/add1"><button id="qv{{i.vid}}" class="btn btn-primary cart">proceed</button></a>  
        <div>

            </div>

      

    </div>
    </div>


</div>




{% endblock %}
