<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%}{% endblock %}</title>
    {% block css %}
    <<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</style>
    <style>
    .col-md-3
    {
    display: inline-block;
    margin-left:-4px;
    }

    .carousel-indicators .active {
    background-color: blue;
      }

    .col-md-3 img{

    width: 227px;
    max-height: 242px;
    }

    body .carousel-indicator li{
    background-color: blue;
    }

    body .carousel-indicators{
    bottom: 0;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon{
    background-color: blue;
    }

    .carousel-control-prev,
    .carousel-control-next{
    top: auto;
    bottom: auto;
    }
     body .no-padding{
     padding-left: 0;
     padding-right: 0;
     }
    </style>
    {% endblock %}
  </head>
  <body>
{% load static %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">BOOKIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">contact Us</a>
        </li>
      {% if request.session.lgnu == null and request.session.lgnd == null and  request.session.lgna == null %}
        <div style="float: left; margin-left:540px;">
            <button type="button" class="btn btn-primary">
                <a href="login" style="color: white;">Login</a>
        </button>&nbsp;&nbsp;
        <div class="dropdown" style="float: right;">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Sign Up
        </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="register1">User</a>
                <a class="dropdown-item" href="driver1">Driver</a>
               
            </div>
        </div>
      
      {% elif request.session.lgnu != null %}
         
          <li class="nav-item">
            <a class="nav-link" href="list">list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="edit">profile</a>
          </li>
          <li>
            <a class="nav-link" href="logout">Logout</a>
          </li>
      {% elif request.session.lgnd != null %}
           <li class="nav-item">
              <a class="nav-link" href="vupload">upload vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vlist">vehicle list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blist">booking list</a>
          </li>
          
            <li class="nav-item">
              <a class="nav-link" href="edit">profile</a>
            </li>
            <li>
              <a class="nav-link" href="logout">Logout</a>
            </li>
      {% elif request.session.lgna != null %}
            <li class="nav-item">
            <a class="nav-link" href="authorized.html">request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vehiclelist">vehicle list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="bookinglist">booking list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ulist">user list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dlist">driver list</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="edit">profile</a>
            </li>
            <li>
            <a class="nav-link" href="logout">Logout</a>
            </li>
      {% endif %}

    </div> 
   
      </ul>
     
    </div>  
  </nav>
  <br>
</div>
<div class="container">
{% block body %}
{% endblock %}
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a>made by ankita shah</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</html>