{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
   
</head> 
<body> 
        <center>
    <div class="container" style="border: 2px solid">
            <div style="width: 50%;align:center">
    <form method = "post" enctype="multipart/form-data"> 
        
        <div class="page-header" style="color:black;font-size:20px">Admin Registration</div>{% csrf_token %} 
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %} {% endif %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Upload</button> 
    </form>
    </div> 
</div>
</center>
</body> 
</html> 
{% endblock %}