{% extends 'shop/base.html' %}
{% block body %}

<form method="post">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %} {% endif %}
<center>
<div class="form-group">
        {% csrf_token %}
        <div class="container" style="border: 2px solid;width:80%;">
    <div class="page-header" style="color:black;font-size:20px">Enter Your email ID Here..</div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <button class="btn btn-primary" style="align:center">send</button>
</div>
</div>
</form>
{% endblock %}