{% extends 'shop/base.html' %}
{% block title%} {{v.o_name}}{% endblock %}
{% block body %}

<div class="container my-4" style="border: 2px solid;width:80%;">
      
    <div class="row" >
            <div class="col-sm-5" style="background-color:yellow;">
    <div class="row" style="align:center;">
        <img src="/media/{{v.image}}" width="233px" height="300px" style="margin:60px;">
    </div>
    

    </div class="col-sm-5">
    <div class="col-sm-7" style="background-color:pink;align:center">
        <div>
            <input type=button value="Previous Page" onClick="javascript:history.go(-1);" class="btn btn-primary cart" style="margin-left:200px;">
        <table>
            <tr >
                <td style="padding-left:20px"><b>Owner name</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.o_name}}</td>
            </tr>
            <br>
            <tr>
                <td style="padding-left:20px"><b>Number</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.v_num}}</td>
            </tr>
            <br>
            <tr>
                <td style="padding-left:20px"><b>Category</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.category}}</td>
            </tr>
            <br>
            <tr>
                <td style="padding-left:20px"><b>subcategory</b></td>
                <td style="padding-left:20px"><b>:</b></td>
                <td style="padding-left:20px">{{v.subcategory}}</td>
            </tr>
            <tr>
                    <td style="padding-left:20px"><b>price</b></td>
                    <td style="padding-left:20px"><b>:</b></td>
                    <td style="padding-left:20px">{{r}}.RS</td>
                    
             </tr>
             <tr>                    
                    <td style="padding-left:20px">Excess Rs{{v.ex}}/km</td>
             </tr>
            <br>
        </table>
    </div>
        <br>
        <br>
        <div class="row">
         <a href="/add1"><button id="qv{{i.vid}}" class="btn btn-primary cart">proceed</button></a>  
        <div>

            </div>
    </div>
    </div>
</div>
{% endblock %}
