{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{%block css%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
{%endblock%}
{%block body %}
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    
</head> 
<body> 
        <center>
    <div class="container" style="border: 2px solid">
            <div style="width: 50%;align:center">
    <form method = "post" enctype="multipart/form-data" id="vuForm" data-cat-url="{% url 'ajax_load_cat' %}" novalidate> 
     
      <div class="page-header" style="color:black;font-size:20px">Upload Vehicle</div>{% csrf_token %} 
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %} {% endif %} 
        <div class="form-group">
          <label for="vnm">Owner mail</label>
          <input type="text" class="form-control" id="mail" value={{request.session.owe}} disabled>
      </div>
      {{ form|crispy }}
        <button type="submit" class="btn btn-primary">choose subcategory</button>
        <button type="submit" class="btn btn-primary">Upload</button> 
    </form>
    </div> 
</div>

</select>
<script>
        $("#id_category").change(function () {
          var url = $("#vuForm").attr("data-cat-url");  
          var c= $(this).val();
    
          $.ajax({                      
            url: url,                  
            data: {
              'c': c       
            },
            success: function (data) {   
              $("#id_subcat").html(data);  
            }
          });
    
        });
      </script>
</center>
</body> 
</html> 
{% endblock %}